body {
    background-color: #353535;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

.main-content {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
}

a:visited, a:active, a:link, a:hover {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

li:first-child {
    border-radius: 5px 5px 0 0;
}

li:last-child {
    border-radius: 0 0 5px 5px;
}

li:nth-child(odd) {
    background-color: #555;
}

li:nth-child(even) {
    background-color: #666;    
}

li .channel-logo {
    flex: 1 0 auto;
    max-width: 40px;
}

li .channel-logo .logo {
    height: 30px;
    width: 30px;
    position: relative;
}

li .channel-logo .logo img {
    border: none;
    width: 100%;
    height: 100%;
}

li .channel-logo .logo .live {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    position: absolute;
    top: -2px;
    right: -2px;
}

li .channel-logo .logo .live.vodcast {
    background-color: white;
    border-width: 1px;
}

li .channel-info {
    flex: 4;
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
}

li .channel-info .channel-name {
    font-size: 14px;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
}

li .channel-info .game {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

li .video {
    font-size: 12px;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li .video .video-info {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: right;
    width: 75%;
}

li .video .link {
    background-image: url('./img/vod-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 22px;
}